// Raleway: bold(800)
// font-family: 'Raleway', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

// Lato: regular(400), bold(900)
// font-family: 'Lato', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');
