.base-footer {
  background: #272733;
  padding: 35px 0;
  border-top: 1px solid #fff;
  font-size: 18px;

  @media (min-width: $desktop) {
    font-size: $smallFontSize;
  }

  &__row {
    @media (min-width: $desktop) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__copyright {
    color: #fff;
    text-align: center;
    margin-bottom: 50px;

    @media (min-width: $desktop) {
      text-align: left;
      margin-bottom: 0;
    }
  }

  &-money {
    position: relative;
    margin-bottom: 50px;

    @media (min-width: $desktop) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 0;
    }

    &:before {
      content: "";
      width: 20px;
      height: 2px;
      background: #fff;
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      top: -25px;

      @media (min-width: $desktop) {
        width: 1px;
        height: 20px;
        left: -25%;
        right: auto;
        top: 0;
        bottom: 0;
      }
    }

    &__item {
      color: #c3c3c3;
      transition: $shortTransition;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 10px;

      @media (min-width: $desktop) {
        margin-bottom: 0;
        margin-left: 20px;
        justify-content: flex-start;
      }

      &:first-child {
        margin-bottom: 0;
        margin-left: 0;
      }

      &:hover {
        color: #fff;
      }

      img {
        margin: auto 5px auto 0;
      }
    }
  }

  &-contacts {
    position: relative;

    @media (min-width: $desktop) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    &:before {
      content: "";
      width: 20px;
      height: 2px;
      background: #fff;
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      top: -25px;

      @media (min-width: $desktop) {
        width: 1px;
        height: 20px;
        left: -30%;
        right: auto;
        top: 0;
        bottom: 0;
      }
    }

    &__item {
      color: #fff;
      transition: $shortTransition;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 10px;

      @media (min-width: $desktop) {
        margin-bottom: 0;
        justify-content: flex-start;
      }

      &:last-child {
        margin-bottom: 0;

        @media (min-width: $desktop) {
          margin-left: 20px;
        }
      }

      &:hover {
        color: #c3c3c3;
      }

      img {
        margin: auto 5px auto 0;
      }
    }
  }
}
