.base-header {
  padding: 25px 0;
  background: rgba(24, 24, 32, 0.9);

  @media (min-width: $tablet) {
    position: absolute;
    left: 0;
    right: 0;
  }

  @media (min-width: $laptop) {
    padding: 30px 0;
  }
}
