body {
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px 20px;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

canvas {
  border: 1px solid #cecece;
  border-radius: 3px;
}

canvas:first-child {
  margin-right: 20px;
}
