.custom-range {
  -webkit-appearance: none;
  width: 100%;
  border-radius: 5px;
  background: transparent;

  &:focus {
    outline: none;
  }

  // thumb
  &::-webkit-slider-thumb {
    border: 3px solid #27689a;
    height: 23px;
    width: 23px;
    border-radius: 50%;
    background: $brandColor;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -10px;
  }

  &::-moz-range-thumb {
    border: 3px solid #27689a;
    height: 23px;
    width: 23px;
    border-radius: 50%;
    background: $brandColor;
    cursor: pointer;
  }

  &::-ms-thumb {
    border: 3px solid #27689a;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background: $brandColor;
    cursor: pointer;
  }

  // track
  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background: #bfbfc2;
    border-radius: 4px;
    border: 1px solid #fff;
  }


  &::-moz-range-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background-color: #bfbfc2;
    border-radius: 4px;
    border: 1px solid #fff;
  }

  &::-ms-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }

  &::-ms-fill-lower {
    background: #bfbfc2;
    border: 1px solid #fff;
    border-radius: 8px;
  }

  &::-ms-fill-upper {
    background: #bfbfc2;
    border: 1px solid #fff;
    border-radius: 8px;
  }
}
